*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/reg/reg-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#d1{
    width:476px;
    height: 630px;
    margin: 40px 100px 200px 310px;
}
#d2{
    width:476px;
    height: 630px;
    background-color: #fff;
    
}
.nav{
    display: flex;
    justify-content: space-between !important;
}
ul>li.nav-item a{
    color: #fff !important;
    font-size: 15px;
    text-decoration: none;
}
.nav1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top:20px;
    margin-bottom: 0;
    list-style: none;
}
div.sao{
    position: absolute;
    top: 90px;
    right: 450px;
}
div.sao1{
    position: absolute;
    top: 90px;
    right: 450px;
}
div.sao a{
    text-decoration: none;
}
div.sao1 a{
    text-decoration: none;
}
div.saoma p{
    text-align: center;
    font-size: 20px;
}
div.saoma img{
   margin-top:20px;
   margin-left: 140px;

}
div.saoma p a{
    text-decoration: none;
    color:#ff552e;
}
img.erweima{
    width:50px;
    height: 50px;
}
img.logo{
    width: 100px;
    height: 100px;
    margin-top:50px ;
    margin-left: 190px;
}
.change{
        padding-top: 15px;
        text-align: center;
        width: 350px;
        margin: 0 auto;
        padding-bottom: 6px;
    
}
.change span {
    cursor: pointer;
    float: left;
    width: 175px;
    color: #000;
    font-size: 16px;
    line-height: 66px;
    border-bottom: 1px solid #ebebeb;
}
.change .active {
    color: #ff552e;
    border-bottom: 1px solid #ff552e;
}
.clear {
    display: block;
    width: 0;
    height: 0;
    clear: both;
}
.item {
    width: 350px;
    margin: 20px auto;
    position: relative;
}
div {
    display: block;
}
.item input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    outline: 0;
    border: 2px solid #ebebeb;
    text-indent: 15px;
    font-size: 14px;
    line-height: 42px;
    *margin-left: -15px;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
.account_item_pic, .phonenum_item_pic {
    display: none;
}
.msg {
    text-align: center;
    width: 350px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    top: 4px;
    display:block;
}
.msg span {
    width: 330px;
    text-align: left;
    color: #ff552e;
    font-size: 12px;
    font-size: 14px\9;
    line-height: 12px;
    line-height: 18px\9;
    position: relative;
    padding-left: 20px;
    float: left;
}
.msg span:before {
    content: '';
    before: before;
    width: 14px;
    height: 14px;
    width: 18px\9;
    height: 18px\9;
    background: url(../img/login/w.png) no-repeat;
    /* background-image: url(//static.58.com/git/teg-app-fe/passport-pc/img/copy@2x.png)\9; */
    background-size: cover;
    position: absolute;
    left: 0;
    top: -1px;
}
.item a{
    text-decoration: none;
    color:#999;
    position: relative;
    float: right;
}
.bg{
    background-color: #ff552e;
    width: 100%;
    height: 42px;
    text-align: center;
    line-height: 42px;
    color: #fff !important;
    outline: 0;
    border: 0;
}
 .protocol {
    font-size: 14px;
    text-align: center;
    margin-top: 100px;
    color: #999;
}
.protocol a{
    text-decoration: none;
    color: #ff552e;
} 
ul>li>a>img{
    width: 30px;
    height: 30px;
}
ul>li>a{
    text-decoration: none !important;
    font-size: 14px;
    color: #999;
}
ul>li>a:hover{
    
    color: #999;

}
.getcode {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 26px;
    color: #999;
    font-size: 12px;
    line-height: 26px;
    background: #eee;
    border-radius: 2px;
    padding: 0 10px;
    cursor: pointer;
}
.phonenumlogin_item_phone {
    text-align: justify;
}
.show{
    display: none;
}


